@font-face {
  font-family: "OpenSans";
  src: local("./OpenSans-Light.ttf");
}

@font-face {
  font-family: "OpenSans";
  src: local("./OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Gelasio";
  src: local("./Gelasio-Regular.ttf");
}
