@media (max-width: 1619px) {
  /* Main Menu Area css
	============================================================================================ */
  /* End Main Menu Area css
	============================================================================================ */
}
@media (max-width: 1199px) {
  /* Main Menu Area css
	============================================================================================ */
  /* End Main Menu Area css
	============================================================================================ */
  /* Home Banner Area css
	============================================================================================ */
  /* End Home Banner Area css
	============================================================================================ */
  .profile_inner .personal_text {
    padding-left: 0px;
  }
}

@media (max-width: 991px) {
  /* Main Menu Area css
	============================================================================================ */
  /* End Main Menu Area css
	============================================================================================ */
  /* Blog page Area css
	============================================================================================ */
  /* End Blog page Area css
	============================================================================================ */

  /* Contact Page Area css
	============================================================================================ */
  /* End Contact page Area css
	============================================================================================ */
  /* Footer Area css
	============================================================================================ */
  /* End End Footer Area css
	============================================================================================ */
  .profile_inner .personal_text {
    padding-top: 30px;
  }
}
@media (max-width: 767px) {
  /* Blog Page Area css
	============================================================================================ */
  /* End Blog Page Area css
	============================================================================================ */
  /* Footer Area css
	============================================================================================ */
  /* End End Footer Area css
	============================================================================================ */
}
@media (max-width: 575px) {
  /* Home Banner Area css
	============================================================================================ */
  /* End Home Banner Area css
	============================================================================================ */
  .p_120 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  /* Elements Area css
	============================================================================================ */
  /* End Elements Area css
	============================================================================================ */

  /* Blog Page Area css
	============================================================================================ */
  /* End Blog Page Area css
	============================================================================================ */
  /* Footer Area css
	============================================================================================ */
  /* End End Footer Area css
	============================================================================================ */
}

@media (max-width: 480px) {
  /* Main Menu Area css
	============================================================================================ */
  /* End Main Menu Area css
	============================================================================================ */

  /* Home Banner Area css
	============================================================================================ */
  /* End Home Banner Area css
	============================================================================================ */
  /* Blog Page Area css
	============================================================================================ */
  /* End Blog Page Area css
	============================================================================================ */
}
