.NavBarBrand {
    font-family:  Source Sans Pro;
    font-weight: lighter;
    font-size: x-large;
    color: white;
    text-decoration: none;
}

.active{
    border-bottom: 1px solid white;
}


@media (max-width: 762px) { 
    .raiseHeight{
        height: 800px !important;
    }
 }